# nixpacks.toml

[phases.setup]
nixPkgs = [
  'gtk3',
  'nss',
  'atk',
  'cairo',
  'pango',
  'gdk-pixbuf',
  'libx11',
  'libxext',
  'libxrender',
  'libxtst',
  'libxi',
  'libxrandr',
  'libxcomposite',
  'libxcursor',
  'libxdamage',
  'libxfixes',
  'libxscrnsaver',
  'libxmu',
  'libxpm',
  'libxft',
  'libxinerama',
  'libxkbcommon',
  'libxkbfile',
  'libxshmfence',
  'libxxf86vm',
  'libgl1-mesa-glx',
  'libegl1-mesa',
  'libgbm1',
  'alsa-lib'  # sometimes needed for audio in headless
]

[phases.build]
cmds = ["pip install --no-cache-dir -r requirements.txt"]
